:root {
    --main-clear: '🌞';
    --main-rain: '💧';
    --main-cloud: '⛅';
}

* {
    margin: 5px;
}

#main {
    display: flex;
}

.title {
    text-align: right;
    margin-right: 50px;
}

#search-body {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#search-history {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#results {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#current-city-card {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#five-day-card {
    display: flex;
}

.Clouds::after {
    content: var(--main-cloud);
}
.Clear::after {
    content: var(--main-clear);
}
.Rain::after {
    content: var(--main-rain);
}