* {
    margin: 5px;
}

.header {
    background: linear-gradient(to right, blue, indigo);
    color: blueviolet;
    text-shadow: white 1px 0 3px;
}

#main {
    border: solid 1px black;
    display: flex;
}

.title {
    text-align: right;
    margin-right: 50px;
}

#search-body {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    width: 25%;
}

#search-history {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#results {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    width: 70%;
}

#current-city-card {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    width: 70%;
}